# gatsby files
.cache/
public

# dependencies
.next/
node_modules/

#misc
**/.DS_Store
.now
yarn-error.log
.vercel
.env
.env.*

.vscode

.yarn/*
.yarn/install-state.gz
yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions